* {
    text-decoration: none;
}

body, html {
    height: 100%;
}

.responsive-image {
    background: url('../images/edited/content_tigger_bw.jpg');
    /* Full height */
    height: 100%; 
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.index-button {
    position:absolute;
    bottom:20%;
}


.index-button {

    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.index-button:hover 
  {
    -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}
  
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}






@media screen and (min-width: 1024px){
    .responsive-image{
        background-image: url('../images/edited/content_tigger_760W.jpg');
        margin: auto;
    }
}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
    .responsive-image{
        background-image: url('../images/edited/content_tigger_980W.jpg');
    }
}

/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
    .responsive-image{
        background-image: url('../images/edited/content_tigger_760W.jpg');
    }
}

/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
    .responsive-image{
        background-image: url('../images/edited/content_tigger_bw.jpg');
    }
}

/* Mobile LD */
@media screen and (max-width: 350px){
    .responsive-image{
        background-image: url('../images/edited/content_tigger_bw.jpg');
    }
} 